@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cacher la scrollbar mais garder la fonctionnalité */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* styles.css ou dans une balise style globale */

/* Pour WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(59, 130, 246, 0.1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3B82F6 rgba(59, 130, 246, 0.1);
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}